/*----- footer --------------------------------------------------------*/
#footer{
  width: 100%;
  background: $green;

  .inner{
    width: 1180px; 
    margin: 0 auto;
    position: relative;
    padding: 80px 0 30px;

    h1{
      font: 700 20px/1 'roboto condensed';
      color: #ddd;
      letter-spacing: 5px;
      margin-bottom: 40px;
      text-align: center;
    }
    ul{
      display: flex; justify-content: center;
      margin-bottom: 30px;

      li{
        font: 400 14px/1 'roboto condensed';
        color: #aaa;
        margin-right: 30px;
        &:last-child{margin-right: 0;}
      }

      &.sns{
        li a {color: #bbb;}
      }
    }

    span{
      display: block;
      text-align: center;
      font: 400 12px/1 'roboto condensed';
      letter-spacing: 3px;
      color: #999;
      margin-bottom: 30px;
    }
  }
}